@inherits LayoutComponentBase


<div class="main">
    <MatThemeProvider Theme="@theme2">
        <div class="mat-blazor-demo-theme-app-row mat-layout-grid">
            <div class="mat-layout-grid-inner">
                @Body
            </div>
        </div>
    </MatThemeProvider>
</div>

@code {


    MatTheme theme1 = new MatTheme()
    {
        Primary = MatThemeColors.Orange._500.Value,
        Secondary = MatThemeColors.BlueGrey._500.Value
    };

    MatTheme theme2 = new MatTheme()
    {
        Primary = "green",
        Secondary = "orange"
    };
}