

<MatchupSelector OnSearch="ExecuteSearch"></MatchupSelector>

<div class="container-fluid">
    <ResultGrid Items="searchResult" Loading="@loading"></ResultGrid>

</div>


@code {


    List<BasicResultModel> searchResult;
    bool loading = false;

    async Task ExecuteSearch(KnownSearchModel model)
    {
        loading = true;
        searchResult = await KnownSearches.LaneMatchup(model);
        loading = false;
    }
}