
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
        <div class="mat-layout-grid-inner">
            <MatchupSelector OnSearch="ExecuteSearch"></MatchupSelector>
        </div>
    </div>

    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
        <div class="mat-layout-grid-inner">
            <ResultGrid Items="searchResult" Loading="@loading"></ResultGrid>
        </div>
    </div>


@code {


    List<BasicResultModel> searchResult;
    bool loading = false;

    async Task ExecuteSearch(KnownSearchModel model)
    {
        loading = true;
        searchResult = await KnownSearches.LaneMatchup(model);
        loading = false;
    }
}
